pkgbase = nipaplay-reload-bin
	pkgdesc = 一个现代化的跨平台视频播放器
	pkgver = 1.2.17
	pkgrel = 1
	url = https://github.com/MCDFsteve/NipaPlay-Reload
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libpulse
	depends = alsa-lib
	depends = mesa
	provides = nipaplay-reload=1.2.17
	conflicts = nipaplay-reload
	options = !debug
	source = nipaplay-reload-1.2.17-x86_64.tar.gz::https://github.com/MCDFsteve/NipaPlay-Reload/releases/download/v1.2.17/NipaPlay-1.2.17-Linux-amd64.tar.gz
	source = nipaplay-reload.png::https://github.com/MCDFsteve/NipaPlay-Reload/raw/main/icon_windows2linux.png
	source = nipaplay-reload.desktop
	sha256sums = 0bd99d7f242d0b5e474f51a69405a139eef080765f2a026a20fefecbe6ee1245
	sha256sums = de29fa53adecccf8db96197f042793324350650eae62cf2179dc51ab7b665470
	sha256sums = c2d36d469bf147500c8ac34ecc871e7e932998023a106a942010d20aa69a4146

pkgname = nipaplay-reload-bin
